.container {
    margin-top: 5%;
    margin-bottom: 3%;
    padding: 2% 1%;
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-rows: 20% 1fr 27%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.video {
    width: 47vw;
    height: 28vw;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-left: auto;
    margin-right: auto;
}

.container p {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 1.5vw;
    padding: 0% 10% 0% 10%;
    text-align:right;
}

.links {
    width: 99.4%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    justify-content: space-around;
    border-radius: 0% 0% 0% 5px;
}

.links a {
    text-decoration: none;
    font-size: 1.6vw;
    border: solid 1px #e3d2ea;
    text-align: center;
    padding: 3%;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 5px;
    transition: 0.3s ease-out;
}

.links a:hover {
    background-color: #a6a1df;
    color: #121129;
    border: solid 1px #a6a1df;
}

.container h3 {
    margin: 0;
    padding: 3% 0% 0% 13%;
    font-size: 2.5vw;
}