html {
    scroll-behavior: smooth;
}

body {
    background-color: #2c304b;
    color: #e3d2ea;
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body a {
    color: #e3d2ea;
}